@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
 font-family: 'Raleway', sans-serif;
 font-size: 16px;
}
a{
  color: #3d9eff;
}
.btn, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
  background: #3d9eff;
}
.btn:hover{
  background-color:#89c4ff;
}
::selection {
  background: #ff9000;
}
::-moz-selection {
  background: #ff9000;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    font-size: 16px;
}
.navbar-default {
  background-color: #2c3e50;
  border-color: #306a72;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #3d9eff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #3d9eff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #3d9eff;
  background-color: #306a72;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #3d9eff;
  background-color: #306a72;
}
.navbar-default .navbar-toggle {
  border-color: #306a72;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #306a72;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #3d9eff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
    font-size: 14px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3d9eff;
    font-size: 14px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3d9eff;
    background-color: #306a72;
    font-size: 14px;
  }
}